<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        form {
            position: absolute;
            top: 15%;
            left: 30%;
            margin-top: -50px;
            margin-left: -50px;
        }

        input, select {
            width: 250px;
        }

        .caption {
            font-family: arial, helvetica, sans-serif;
            font-weight: normal;
            font-size: small;
            color: darkblue;
        }

        .hint {
            font-family: arial, helvetica, sans-serif;
            font-weight: normal;
            font-size: small;
            color: blue;
        }

        .errortext {
            font-family: arial, helvetica, sans-serif;
            font-weight: bold;
            font-size: small;
            text-align: left;
            color: red;
        }
    </style>
</head>
<body>
<div>
    <form action="#" th:action="@{/register}" th:object="${user}" method="post">
        <div>
            <h2>New user registration</h2>
        </div>
        <div>
            <table style="width:600px">
                <tr>
                    <td class="caption">Login</td>
                    <td><input type="text" th:field="*{userName}" name="username"/></td>
                    <td class="errortext" th:if="${#fields.hasErrors('userName')}" th:errors="*{userName} ">User Name
                        Error
                    </td>
                </tr>

                <tr>
                    <td class="caption">Password</td>
                    <td><input type="password" th:field="*{password}" name="password"/></td>
                    <td class="errortext" th:if="${#fields.hasErrors('password')}" th:errors="*{password} ">Password
                        Error
                    </td>
                </tr>
                <tr>
                    <td class="caption">Verify password</td>
                    <td><input type="password" th:field="*{verifyPassword}" name="verifyPassword"/></td>
                    <td class="errortext" th:if="${#fields.hasErrors('verifyPassword')}" th:errors="*{verifyPassword} ">
                        Password Verify Error
                    </td>
                </tr>
                <tr>
                    <td class="caption">First Name</td>
                    <td><input type="text" th:field="*{firstName}" name="firstname"/></td>
                    <td class="errortext" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName} ">First Name
                        Error
                    </td>
                </tr>
                <tr>
                    <td class="caption">Last Name</td>
                    <td><input type="text" th:field="*{lastName}" name="lastname"/></td>
                    <td class="errortext" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName} ">Last Name
                        Error
                    </td>
                </tr>
                <tr>
                    <td class="caption">E-Mail</td>
                    <td><input type="text" th:field="*{email}" name="email"/></td>
                    <td class="errortext" th:if="${#fields.hasErrors('email')}" th:errors="*{email} ">Email Error</td>
                </tr>
                <tr>
                    <td class="hint">Type street, number and city for search</td>
                    <td><input type="text" id="address_search" name="address_search" onFocus="geolocate()"/></td>
                </tr>
                <tr>
                    <td class="caption">Street</td>
                    <td><input type="text" th:field="*{street}" id="route" name="street"/></td>
                    <td class="errortext" th:if="${#fields.hasErrors('street')}" th:errors="*{street} ">Street Error
                    </td>
                </tr>
                <tr>
                    <td class="caption">House/Building/Room</td>
                    <td><input type="text" th:field="*{streetNumber}" id="street_number" name="street_number"/></td>
                </tr>
                <tr>
                    <td class="caption">City</td>
                    <td><input type="text" th:field="*{city}" id="locality" name="city"/></td>
                    <td class="errortext" th:if="${#fields.hasErrors('city')}" th:errors="*{city} ">City Error</td>
                </tr>
                <tr>
                    <td class="caption">State/province</td>
                    <td><input type="text" th:field="*{state}" id="state" name="state"/></td>
                    <td class="errortext" th:if="${#fields.hasErrors('state')}" th:errors="*{state} ">Email Error</td>
                </tr>
                <tr>
                    <td class="caption">Country</td>
                    <td>
                        <select th:field="*{country}">
                            <option id="country" th:each="sopt:${countries.entrySet()}"
                                    th:value="${sopt.value}" th:text="${sopt.key}">Japan
                            </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="caption">Post code</td>
                    <td><input type="text" th:field="*{postCode}" id="postal_code" name="postcode"/></td>
                    <td class="errortext" th:if="${#fields.hasErrors('postCode')}" th:errors="*{postCode} ">Post Code
                        Error
                    </td>
                </tr>
                <tr>
                    <td class="caption">Phone number</td>
                    <td><input type="text" th:field="*{phone}" name="phone"/></td>
                    <td class="errortext" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone} ">Post Code Error
                    </td>
                </tr>

                <tr>
                    <td class="hint">Don't have account?</td>
                    <td>
                        <button type="submit">Register</button>
                    </td>
                </tr>
            </table>
            <div>
                <ul class="errortext" th:if="${#fields.hasErrors('global')}">
                    <li th:each="err : ${#fields.errors('global')}" th:text="${err}">Input is incorrect</li>
                </ul>
            </div>
        </div>
    </form>
</div>

<script>
    /*<![CDATA[*/
    var placeSearch, autocomplete;
    var componentForm = {
        street_number: 'short_name',
        route: 'long_name',
        locality: 'long_name',
        administrative_area_level_1: 'short_name',
        administrative_area_level_2: 'long_name',
        country: 'short_name',
        postal_code: 'short_name'
    };

    function initAutocomplete() {
        autocomplete = new google.maps.places.Autocomplete((document.getElementById('address_search')), {types: ['geocode']});
        autocomplete.addListener('place_changed', fillInAddress);
    }

    function fillInAddress() {
        var place = autocomplete.getPlace();

        var stateLevel1 = null;
        var stateLevel2 = null;
        var stateVar = '';
        for (var i = 0; i < place.address_components.length; i++) {
            var addressType = place.address_components[i].types[0];
            if (componentForm[addressType]) {
                var val = place.address_components[i][componentForm[addressType]];
                if (addressType === 'administrative_area_level_1') {
                    stateLevel1 = val;
                }
                else if (addressType === 'administrative_area_level_2') {
                    stateLevel2 = val;
                }
                else {
                    document.getElementById(addressType).value = val;
                }
            }
        }
        if (stateLevel1 !== null) stateVar = stateLevel1;
        if (stateLevel2 !== null && stateLevel1 == null) stateVar = stateLevel2;
        document.getElementById('state').value = stateVar;
    }

    function geolocate() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
                var geolocation = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };
                var circle = new google.maps.Circle({
                    center: geolocation,
                    radius: position.coords.accuracy
                });
                autocomplete.setBounds(circle.getBounds());
            });
        }
    }
    /*]]>*/
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCf7K20ESI_UqsAeYbphG-Hx-64ajoeBHE&amp;signed_in=true&amp;libraries=places&amp;callback=initAutocomplete"></script>
</body>
</html>